

<div class="rc-usernav-menu row">
  <ul class="nav nav-pills nav-justified">
    <li><a href="{% url 'user_profile' %}">User Profile</a></li>
    <li><a href="{% url 'selling_inventory' %}">Selling Inventory</a></li>
    <li><a href="{% url 'selling_credit' %}">Selling Credit</a></li>
    <li><a href="{% url 'selling_history' %}">Selling History</a></li>
    <li><a href="{% url 'pending_reviews' %}">Pending Reviews</a></li>
    <li><a href="{% url 'my_seller_reviews' %}">Seller Reviews</a></li>
    <li><a href="{% url 'my_buyer_reviews' %}">Buyer Reviews</a></li>
  </ul>
</div>

<br />
<br />
