{% extends "base.html" %}

{% block content %}

{% load bootstrap %}

<h2>Add a new product</h2>

<form class="form-horizontal" method="post" action="{% url 'add_new_product' %}"
      enctype="multipart/form-data">{% csrf_token %}
  {{ form|bootstrap_horizontal }}
  <input class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10 btn btn-large btn-default"
         type="submit" value="Add product" />
</form>

{% endblock %}
