{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- font awesome -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Rufina" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <title>Recycle Closet</title>
  </head>
  <body>

    <!-- --------------------- HEADER ------------------------------ -->
    <div class="container">
      {% for message in messages %}
      <div class="alert alert-block alert-{{message.tags}}">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>

    <div class="row rc-header" >
      <div class="col-md-6">
        <a href="{% url 'home' %}">
        <span style="font-size: 4em;"> 
          <i class="fa fa-exchange"></i>
        </span>
        <span class="rc-header-title"> Recycle Closet</span>
        </a>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <span class="pull-right">
              {% if user.is_authenticated %}
              Hello, {{ user.username }}! &nbsp; 
              <a href="{% url 'account_home' %}"><i class="fa fa-user"></i> Profile</a> &nbsp; 
              <a href="{% url 'view_all_messages' %}"><i class="fa
              fa-comments"></i>Messages [{{ user.myuser.num_unread_msgs}}]</a> &nbsp; 
              <a href="{% url 'view_favourites' %}"><i class="fa fa-heart"></i>
              Favorites [{{ user.myuser.num_favorites }}]</a> &nbsp; 
              <a href="{% url 'faq' %}">FAQ</a> &nbsp;
              <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
            {% else %}
            <a href="{% url 'login' %}"><i class="fa fa-sign-out"></i> Login</a> &nbsp; 
            <a href="{% url 'register' %}"><i class="fa fa-sign-out"></i> Register</a> &nbsp;
            <a href="{% url 'faq' %}">FAQ</a>
            {% endif %}
            </span>
          </div>
          
          <form class="navbar-form navbar-right" method="get" action="{% url 'search' %}"
            <div class="form-group">
              <input type="text" name="search_text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <!------------------------------ NAVBAR ------------------------------ -->
    
    <div class="rc-mainnav-menu row" >
        <ul class="nav nav-pills nav-justified">
          <li><a class="mainnav-submenu-link" href="#mainnav-submenu-1">Makeup</a> </li>
          <li><a class="mainnav-submenu-link" href="#mainnav-submenu-2">Hair</a></li>
          <li><a class="mainnav-submenu-link" href="#mainnav-submenu-3">Face</a></li>
          <li><a class="mainnav-submenu-link" href="#mainnav-submenu-4">Body</a></li>
          <li><a class="mainnav-submenu-link" href="#mainnav-submenu-5">Nails</a></li>
          <li><a class="mainnav-submenu-link" href="#mainnav-submenu-6">Perfumery</a></li>
      </ul>
    </div>
    
    <div id="mainnav-submenu-1" class="rc-mainnav-submenu" style="display:none; position: absolute; left: 5%;">
      {% for category in categories %}
      {% if category.main_category == "makeup" %}
      <a href="{% url 'view_category' category.pk %}">
        <div>
          <img width="100px" height="100px" src="{{ category.image.url }}" class="" alt="" />
        </div>
        <div>
          {{ category.name }}
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <div id="mainnav-submenu-2" class="rc-mainnav-submenu" style="display:none; position: absolute; left: 20%;">
      {% for category in categories %}
      {% if category.main_category == "hair" %}
      <a href="{% url 'view_category' category.pk %}">
        <div>
          <img width="100px" height="100px" src="{{ category.image.url }}" class="" alt="" />
        </div>
        <div>
          {{ category.name }}
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <div id="mainnav-submenu-3" class="rc-mainnav-submenu" style="display:none; position: absolute; left: 35%;">
      {% for category in categories %}
      {% if category.main_category == "face" %}
      <a href="{% url 'view_category' category.pk %}">
        <div>
          <img width="100px" height="100px" src="{{ category.image.url }}" class="" alt="" />
        </div>
        <div>
          {{ category.name }}
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

        <div id="mainnav-submenu-4" class="rc-mainnav-submenu" style="display:none; position: absolute; right: 35;">
      {% for category in categories %}
      {% if category.main_category == "body" %}
      <a href="{% url 'view_category' category.pk %}">
        <div>
          <img width="100px" height="100px" src="{{ category.image.url }}" class="" alt="" />
        </div>
        <div>
          {{ category.name }}
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <div id="mainnav-submenu-5" class="rc-mainnav-submenu" style="display:none; position: absolute; right: 20%;">
      {% for category in categories %}
      {% if category.main_category == "nails" %}
      <a href="{% url 'view_category' category.pk %}">
        <div>
          <img width="100px" height="100px" src="{{ category.image.url }}" class="" alt="" />
        </div>
        <div>
          {{ category.name }}
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <div id="mainnav-submenu-6" class="rc-mainnav-submenu" style="display:none; position: absolute; right: 5%;">
      {% for category in categories %}
      {% if category.main_category == "perfumery" %}
      <a href="{% url 'view_category' category.pk %}">
        <div>
          <img width="100px" height="100px" src="{{ category.image.url }}" class="" alt="" />
        </div>
        <div>
          {{ category.name }}
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>


    <div class="rc-main-content">
      {% block content %}
      {% endblock %}
    </div>


<script>
$(document).ready(function() {
// Bootstrap tooltip settings
    $('body').tooltip({
        selector: '[data-toggle="tooltip"]',
        trigger: 'hover',
        placement: 'top',
        html: 'true'
    });
});


$('.mainnav-submenu-link').hover(
    function(e){
        $( $(this).attr('href')).show();
    },
    function(e){
        console.log(e.pageX + ' : ' + e.pageY);
        $( $(this).attr('href')).hide();
});
$('.rc-mainnav-submenu').hover(
    function(e){
        $(this).show();
    },
    function(e){
        $(this).hide();
});

</script>

  </body>
</html>
