{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}

<h2>Overall Ratings</h2>

<table class="table table-bordered">
  <tr>
    <td>Overall communication</td>
    <td>{{ communication }}</td>
  </tr>
  <tr>
    <td>Overall payment speed</td>
    <td>{{ payment_speed }}</td>
  </tr>
  <tr>
    <td>Overall buyer rating</td>
    <td>{{ buyer_rating }}</td>
  </tr>
</table>


<h2>Reviews</h2>
<table class="table table-bordered">
  <tr>
    <th>Product Name</th>
    <th>Comments</th>
    <th>From</th>
  </tr>
  {% for buyer_review in buyer_reviews %}
  <tr>
    <td>{{ buyer_review.product.name }}</td>
    <td>{{ buyer_review.comments }}</td>
    <td>{{ buyer_review.review_from }}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
