{% extends "base.html" %}
{% load bootstrap %}
{% block content %}

{% include "account_info_links.html" %}

<p>Current email address is [{{ user.email }}]</p>

<form class="form-horizontal" method="post" action="{% url 'email_update' %}">{% csrf_token %}
  {{ form|bootstrap_horizontal }}
  <input class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10 btn btn-large btn-primary"
         type="submit" value="Change email" />
</form>

{% endblock %}
