{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}

<h2>Pending Buyer Reviews</h2>
<ul>
{% for review in pending_buyer_reviews %}
<li>
  <form id="buyer_review_{{ review.pk }}"
        action="{% url 'do_buyer_review' %}"
        method="get">
    <a href="#" onclick="$('#buyer_review_{{ review.pk }}').submit(); return false;">
      Review for {{ review.review_to }} on product {{ review.product.name }}
    </a>
    <input type="hidden" name="buyer_review_id" value="{{ review.pk }}">
  </form>
</li>    
{% endfor %}
</ul>

<h2>Pending Seller Reviews</h2>
<ul>
{% for review in pending_seller_reviews %}
<li><form id="seller_review_{{ review.pk }}"
          action="{% url 'do_seller_review' %}"
          method="get">
    <a href="#" onclick="$('#seller_review_{{ review.pk }}').submit(); return false;">
      Review for {{ review.review_to }} on product {{ review.product.name }}
    </a>
    <input type="hidden" name="seller_review_id" value="{{ review.pk }}">
  </form>
</li>
{% endfor %}
</ul>
{% endblock %}
