{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}

<p>You have {{ seller.credit }} tokens left in your account. You can list {{ seller.credit }} more products for sale. Additional tokens cost $0.50 each.</p>

<a href="#" class="btn btn-default">Buy more tokens</a>

<a href="#" class="btn btn-default">Add new products</a>


{% endblock %}
