{% extends "base.html" %}

{% block content %}

<table class="table table-bordered">
<tr>
  <th>Product name</th>
  <th>Seller</th>
</tr>
{% for product in favourites %}
<tr>
  <td>{{ product.name }} <a href="{% url 'view_product' product.pk %}">[View]</a></td>
  <td>{{ product.seller.myuser.user.username }} <a href="{% url 'send_message' %}">[send message]</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
