{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
<div class="col-md-6">
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ product.name }}</dd>
  <dt>Qty</dt>
  <dd>{{ product.amount_remaining }}</dd>
  <dt>Product website</dt>
  <dd>{{ product.product_website}}</dd>
  <dt>Price</dt>
  <dd>{{ product.price }}</dd>
  <dt>Description</dt>
  <dd>{{ product.description }}</dd>
  <dt>Seller</dt>
  <dd>{{ product.seller.myuser.user.username }} <a href="{% url 'seller_reviews' product.seller.myuser.pk %}">See seller rating</a></dd>
</dl>
</div>

{% if product.image %}
<div class="col-md-6">
  <img width="75%" alt="product_img" src="{{product.image.url}}"/>
</div>
{% endif %}
</div>

<div>
<form id="add_to_fav" method="post" action="{% url 'add_to_fav' %}">{% csrf_token %}
  <input type="hidden" name="product_id" value="{{ product.pk }}">
</form>

<a href="#" class="btn btn-default" onclick="$('#add_to_fav').submit(); return false;">Add to favourites</a>
<a href="{% url 'send_message' to=product.seller.myuser.user.username %}" class="btn btn-default">Contact seller for purchase</a>
</div>

{% endblock %}
