{% extends "base.html" %}

{% block content %}

<dl class="dl-horizontal">
  <dt>From</dt>
  <dd>{{ message.message_from}}</dd>
  <dt>To</dt>
  <dd>{{ message.message_to}}</dd>
  <dt>Title</dt>
  <dd>{{ message.title }}</dd>
  <dt>Body</dt>
  <dd>{{ message.body }}</dd>
  <dt></dt>
  <dd><hr/></dd>
  <dt></dt>
  <dd><a href="{% url 'send_message' to=message.message_from %}" class="btn btn-default">Reply</a></dd>
</dl>



{% endblock %}
