{% extends "base.html" %}

{% block content %}

{% load bootstrap %}

<div class="rc-main-content">

    <form class="form-horizontal"  method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      
      {{ form|bootstrap_horizontal }}
      
      <input class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10 btn btn-large btn-primary" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>

{% endblock %}
