{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

<div class="rc-main-container">

      <h1>Create an account</h1>
      <form class="form-horizontal" action="" method="post">{% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <input class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10 btn btn-large btn-primary" 
               type="submit" value="Create the account">
      </form>

</div>
{% endblock %}
